@{
    ViewBag.Title = "Confirmation Failure";
    ViewBag.PageHeader = "Confirmation Failure";
}

<div class="col-md-12 panel panel-primary panel-body">
    <h1>Failed to confirm account. Try again.</h1>
</div>