@{
    ViewBag.Title = "Confirmation Request";
    ViewBag.PageHeader = "Confirmation request";
}

<div class="col-md-12 panel panel-primary panel-body">
    <h1>Check your e-mail and follow registration link.</h1>
</div>