@{
    ViewBag.Title = "Successful registration";
    ViewBag.PageHeader = "Congratulations!";
}

<div class="col-md-12 panel panel-primary panel-body">
    <h1>Your account was successfully confirmed. @Html.ActionLink("Sign in.", "Login", "Account")</h1>
</div>